# Visual Studio
.vs/

# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs and cache
*.log
*.cache

# Rider
.idea/

# NuGet
packages/

# Publish
publish/

# OS files
Thumbs.db
.DS_Store